/* SPLASH PAGE */
.splash-page {
    background: linear-gradient(#CDF5FE, #ADEEFE);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.splash-header {
    animation: 1s ease-in 0s 1 slideInFromLeft;
    background: #CDF5FE;
    color: #FE247A;
    font-family: 'Faster One',
        cursive;
    font-size: 5em;
    text-align: center;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromLeft {
    100% {
        transform: translateX(100%);
    }

    0% {
        transform: translateX(0%);
    }
}

.splash-img {
    align-content: center;
    margin: 0px 300px;
    animation: 1s ease-in 0s 1 slideInFromRight;
}

.enter__button {
    height: 45px;
    border-radius: 20px;
    color: white;
    background-color: #FCDE2A;
    margin: 10px;
    font-family: 'Quantico',
        sans-serif;
    font-size: 1.3em;
    margin-left: 600px;
    width: 20%;
}

/* MAIN PAGE */
body {
    display: grid;
    margin: 0px;
    height: 100vh;
}

main {
    color: white;
    display: grid;
    font-family: 'Quantico',
    sans-serif;
    margin: 0px;
}

.main-page {
    background-image: url('../src/images/80s-sunset.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
    opacity: 0.7;
    width: 100%;
}

.header {
    background-color: #69188E;
    border-bottom: #1ADFED solid 2px;
    filter: hue-rotate(45deg);
    color: #FE247A;
    font-family: 'Bungee Shade', cursive;
    text-align: center;
    font-size: 2em;
    margin-top: -43px;
}

.main-date {
    font-family: 'Quantico',
    sans-serif;
}

.submit-date__button {
    background-color: #FFE74C;
    border-radius: 15%;
}

.user-hydration-by-week__display {
    height: 400px;
    width: 400px;
} 

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 90vh;
}

.user {
    width: 20%;
}

.grid-item {
    background-color: #69188E;
    border: solid 6px;
    float: left;
    font-size: 1.3em;
    margin: 15px;
    opacity: 0.8;
    padding: 10px;
    text-align: center;
    width: 330px;
} 

.weekly {
    background-color: #69188E;
    border: solid 4px white;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 20px;
    width: 60%;
}

.chart {
    border: solid 2px white;
    height: 200px;
    width: 200px;
    opacity: none;
}

.grid-item.is-dragging,
.grid-item.is-positioning-post-drag {
    background: rgb(59, 7, 143);
    z-index: 2;
}

.packery-drop-placeholder {
    outline: 3px dashed hsla(0, 0%, 0%, 0.5);
    outline-offset: -6px;
    transition: transform 0.2s;
    -webkit-transition: -webkit-transform 0.2s;
} 
